siama-ng2/dist/
siama-ng2/node_modules/
siama-ng2/.vs/
siama_api/.vs/
siama_api/siama_test/obj/
siama_api/siama_api/obj/
siama_api/siama_api/bin/
siama_api/siama_test/bin/Debug/netcoreapp1.1/siama_api.dll
siama_api/siama_test/bin/Debug/netcoreapp1.1/siama_api.pdb
