#report-container {
  border: solid 1px #000;
  width: 100%;
  min-height: 600px;
  padding: 20px;
  margin-top: 50px;
  min-width: 500px;
}

div.container {
  width: auto;
  min-width: 200px;
  max-width: 85%;
}

#edit-btn {
  border: none;
  background-color: none;
  margin-bottom: 5px;
}

h1 {
  background-color: #fff;
  padding: 5px;
  position: relative;
  top: -40px;
  display: inline;
}

form {
  margin-top:0;
}

.row .form-group {
  margin-bottom: 20px;
}

label {
  width:120px;
}

.alert {
  margin-top: 5px;
}

.datepicker {
  display:block; 
  min-height:290px;
  position: absolute;
  z-index: 100;
}

.button-row {
  width:80px;
  margin-right:auto;
  margin-left:auto;
}